@using BubbleNet.Core.Models;
@{
    ViewBag.Title = "Communication Status";
}

<h2>Communication Status</h2>

<p>
  @Html.ActionLink("Collaborative Sites", "CollaborativeSites") | @Html.ActionLink("Communication Map", "CommunicationMap") | @Html.ActionLink("Communiation Status List", "Index")
</p>

<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>Distributed Team Members</th>
        @foreach (var ComTo in (List<string>)ViewBag.To)
        {
            <th>
                @ComTo
            </th>
        }
    </tr>
    @foreach (var ComFrom in (List<CommunicationStatus>)ViewBag.From)
    {
        <tr>
            <td>@ComFrom.CommunicationFrom</td>
            @foreach (var s in ComFrom.Status)
            {
                <td>@Html.CommunictionStatus(s)</td>
            }
        </tr>
    }
</table>