@model BubbleNet.Models.Feature

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Feature</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.FeatureId)

        <div class="form-group form-group-lg">
            @Html.LabelFor(model => model.ProjectId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProjectId", (List<SelectListItem>)ViewBag.AllProjects, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProjectId)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Discription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Discription, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Discription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Relationship, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Relationship", (List<SelectListItem>)ViewBag.AllRelationships, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Relationship)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
