@model BubbleNet.Models.PracticeUser

@{
    ViewBag.Title = "Assign Participant to Practice";
}

<h2>Assign Participant To Practice</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Best Practice Participant </h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.PracticeId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PracticeId", (List<SelectListItem>)ViewBag.AllPractices, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PracticeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserId", (List<SelectListItem>)ViewBag.AllUsrs, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Team Best Practices", "Index") | @Html.ActionLink("Team Best Practice Participants", "PracticeParticipantList")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
